*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: lightgray;
}
.link{
    font-size: 25px;
    margin: 20px; background-color: blueviolet; width: 150px; border-radius: 15px;
    padding: 15px;
}
.link a{
    color: white;
    text-align: center;
    text-decoration: none;
}
.link span{
    color: white;
}
.container{
    height: 500px; width: 400px; box-shadow: 5px 5px 15px yellow ;margin: 20px auto;
    background: linear-gradient(45deg, yellow, blueviolet, yellow);
    border-radius: 30px;
}
.container h1{
    text-align: center;
    font-size: 40px; color: wheat;
    transition: all 1s;
}
.container hr{
    margin-bottom: 10px;
}
.container .boxes input{
    height: 50px; width: 360px;
    margin: 10px 20px;
    border-left: 10px solid black;
    border-radius: 20px 0px 20px 0px;
}
.container .boxes textarea{
    height: 100px;
    width: 360px;
    margin: 10px 20px; border-left: 10px solid orange; border-radius: 20px 0px 20px 0px;
}
.container .boxes input::placeholder{
    font-size: 18px; color: rgb(237, 172, 172);
}
.container .boxes textarea::placeholder{
    font-size: 18px;color: rgb(216, 134, 134);text-align: center;
}
.container .button input{
    height: 50px; width: 360px; margin: 10px 20px;
    background: linear-gradient(45deg, black, cyan, black);
    color: blue;
    font-size: 30px; transition: all 1s;
}
.container h1:hover{
    letter-spacing: 10xp; font-size: 45px; text-shadow: 3px 3px 10px rgb(74, 7, 7);
}
.container .boxes input:hover{
    box-shadow: 5px 5px 15px white;
}
.container .boxes textarea:hover{
    box-shadow: 5px 5px 15px white;
}
.container .button input:hover{
    border-radius: 20px; box-shadow: 5px 5px 10px orange; color: wheat; background: linear-gradient(45deg, yellow, black, yellow);
}
