*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url('solar_bg.jpeg');
    background-size: cover;
    background-position: center;
    
    height: 110px;
    width: 100%;
    box-shadow: 0px 0px 25px rgb(0, 13, 255);
    margin-bottom: 10px;
}
header marquee span{
    color: white;
    font-size: 80px;
    font-family: "Tektur", sans-serif;
    padding: 20px;
    text-shadow: 5px 5px  15px wheat;
    font-weight: bolder;
}
header  span{
    color: white;
    font-size: 80px;
    font-family: "Tektur", sans-serif;
    padding: 20px;
    text-shadow: 5px 5px  15px wheat;
    font-weight: bolder;
}

.menu{
    height: 50px;
    background: linear-gradient(60deg, rgb(230, 174, 91), rgb(196, 88, 88), rgb(209, 74, 74));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px teal;
    position: sticky; top: 0px;
    left: 0px;
    margin-bottom: 8px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Boldonse", system-ui;
    padding: 10px;
    /* flex: auto; */
}

.menu a:hover{
    background-color: lightsalmon;
    color: green;
    font-size: 25px; font-weight: bolder;
    border-radius: 50px;
    text-align: center;
    width: auto;
}

.image{
    height: 750px;
    background-image: url('smart-building.jpg');
    background-position: center;
    margin-top: 6px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px rgb(225, 53, 105);
    
}
.image-text{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}
.image-text h1{
    font-size: 60px;
    margin: 10px;
    padding: 10px;
    font-family: "Boldonse", system-ui;
}
.image-text p{
    line-height: 30px;
    font-size: 20px;
    padding: 10px;
    font-family: "Tektur", sans-serif;
}
.parent{
    background-color: rgb(173, 198, 173);
}
.parent h1{
    color: wheat;
    font-size: 50px;
    font-family: "Boldonse", system-ui;
    text-align: center;
}
.parent p{
    color: blue;
    font-size: 20px;
    line-height: 35px;
    text-indent: 50px;
    margin: 10px;

    font-family: "Tektur", sans-serif;
}